﻿/*Created with Adobe RoboHelp 11.*/
/*begin-old-version{{*/
html
{
	min-height: 100%;
	min-width: 100%;
	-ms-text-size-adjust: none;
}

body,div,dl,dt,dd,ul,ol,li,nav,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a
{
	margin: 0;
	padding: 0;
	border-width: 0;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img
{
	border: 0;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup
{
	font-style: inherit;
	font-weight: inherit;
}

del,ins
{
	text-decoration: none;
}

li
{
	list-style: none;
}

caption,th
{
	text-align: left;
}

h1,h2,h3,h4,h5,h6
{
	font-size: 100%;
	font-weight: inherit;
}

input,button,textarea,select,optgroup,option
{
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

body
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	text-align: left;
	font-size: 14px;
	line-height: 17px;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;/* kerning, primarily */
	-moz-font-feature-settings: 'liga';
	-ms-font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
	body { text-rendering:auto; }
}

a:link
{
	color: #0000FF;
	text-decoration: underline;
}

a:visited
{
	color: #800080;
	text-decoration: underline;
}

a:hover
{
	color: #0000FF;
	text-decoration: underline;
}

a:active
{
	color: #EE0000;
	text-decoration: underline;
}

a.nontext /* used to override default properties of 'a' tag */
{
	color: black;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}

.normal_text
{
	color: #000000;
	direction: ltr;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0px;
	line-height: 17px;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
	vertical-align: 0px;
	padding: 0px;
}

.list0 li:before
{
	position: absolute;
	right: 100%;
	letter-spacing: 0px;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

.rtl-list li:before
{
	right: auto;
	left: 100%;
}

.nls-None > li:before,.nls-None .list3 > li:before,.nls-None .list6 > li:before
{
	margin-right: 6px;
	content: 'â€¢';
}

.nls-None .list1 > li:before,.nls-None .list4 > li:before,.nls-None .list7 > li:before
{
	margin-right: 6px;
	content: 'â—‹';
}

.nls-None,.nls-None .list1,.nls-None .list2,.nls-None .list3,.nls-None .list4,.nls-None .list5,.nls-None .list6,.nls-None .list7,.nls-None .list8
{
	padding-left: 34px;
}

.nls-None.rtl-list,.nls-None .list1.rtl-list,.nls-None .list2.rtl-list,.nls-None .list3.rtl-list,.nls-None .list4.rtl-list,.nls-None .list5.rtl-list,.nls-None .list6.rtl-list,.nls-None .list7.rtl-list,.nls-None .list8.rtl-list
{
	padding-left: 0px;
	padding-right: 34px;
}

.nls-None .list2 > li:before,.nls-None .list5 > li:before,.nls-None .list8 > li:before
{
	margin-right: 6px;
	content: '-';
}

.nls-None.rtl-list > li:before,.nls-None .list1.rtl-list > li:before,.nls-None .list2.rtl-list > li:before,.nls-None .list3.rtl-list > li:before,.nls-None .list4.rtl-list > li:before,.nls-None .list5.rtl-list > li:before,.nls-None .list6.rtl-list > li:before,.nls-None .list7.rtl-list > li:before,.nls-None .list8.rtl-list > li:before
{
	margin-right: 0px;
	margin-left: 6px;
}

.TabbedPanelsTab
{
	white-space: nowrap;
}

.MenuBar  .MenuBarView,.MenuBar  .SubMenuView /* Resets for ul and li in menus */
{
	display: block;
	list-style: none;
}

.MenuBar .SubMenu
{
	display: none;
	position: absolute;
}

.NoWrap
{
	white-space: nowrap;
	word-wrap: normal;
}

.rootelem /* the root of the artwork tree */
{
	margin-left: auto;
	margin-right: auto;
}

.colelem /* a child element of a column */
{
	display: inline;
	float: left;
	clear: both;
}

.colelem100 /* a child element of a column that is 100% width */
{
	clear: both;
}

.grpelem /* a child element of a group */
{
	display: inline;
	float: left;
}

.clearfix:after /* force a container to fit around floated items */
{
	content: "\0020";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

*:first-child+html .clearfix /* IE7 */
{
	zoom: 1;
}

.clip_frame /* used to clip the contents as in the case of an image frame */
{
	overflow: hidden;
}

.inclusion_context /* context for positioning a group of elements that share the same height */
{
	display: table;
	table-layout: fixed;
	width: 0.01px;
}

.inclelem /* element of an inclusion context */
{
	display: table-cell;
	vertical-align: top;
}

.f3s_mid /* 3-slice frame, middle slice */
{
	background-repeat: repeat;
}

.f3s_top,.f3s_bot /* 3-slice frame, top slice */
{
	background-repeat: no-repeat;
}

.f9s_top_left,.f9s_bot_left /* 9-slice frame, left corner slice */
{
	background-repeat: no-repeat;
	background-position: left;
}

.f9s_top_right,.f9s_bot_right /* 9-slice frame, right corner slice */
{
	background-repeat: no-repeat;
	background-position: right;
}

.f9s_top_mid,.f9s_bot_mid /* 9-slice frame, top/bottom horizontal slice */
{
	background-repeat: repeat-x;
	background-position: 0px 0px;
}

.f9s_mid_left /* 9-slice frame, left vertical slice */
{
	background-repeat: repeat-y;
	background-position: left;
}

.f9s_mid_right /* 9-slice frame, right vertical slice */
{
	background-repeat: repeat-y;
	background-position: right;
}

.f9s_center /* 9-slice frame, center slice */
{
	background-repeat: repeat;
	background-position: 0px 0px;
}

.popup_anchor /* anchors an abspos popup */
{
	position: relative;
	width: 0px;
	height: 0px;
}

.popup_element
{
	z-index: 100000;
}

.svg
{
	display: block;
	vertical-align: top;
}

span.wrap /* used to force wrap after floated array when nested inside a paragraph */
{
	content: '';
	clear: left;
	display: block;
}

span.actAsInlineDiv /* used to simulate a DIV with inline display when already nested inside a paragraph */
{
	display: inline-block;
}

.position_content,.excludeFromNormalFlow /* used when child content is larger than parent */
{
	float: left;
}

.preload_images /* used to preload images used in non-default states */
{
	position: absolute;
	overflow: hidden;
	left: -9999px;
	top: -9999px;
	height: 1px;
	width: 1px;
}

preload /* used to specifiy the dimension of preload item */
{
	height: 1px;
	width: 1px;
}

.animateStates
{
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

input:focus,textarea:focus /* remove default focussed input styling */
{
	outline: none;
}

textarea
{
	resize: none;
	overflow: auto;
}

.fld-prompt /* form placeholders cursor behavior */
{
	pointer-events: none;
}

.wrapped-input /* form inputs & placeholders let div styling show thru */
{
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	border: none;
}

.submit-btn /* form submit buttons on top of sibling elements */
{
	z-index: 50000;
	cursor: pointer;
}

.anchor_item /* used to specify anchor properties */
{
	width: 22px;
	height: 18px;
}

.MenuBar .SubMenuVisible,.MenuBarVertical .SubMenuVisible,.MenuBar .SubMenu .SubMenuVisible,.popup_element.Active,span.actAsPara,.actAsDiv,a.nonblock.nontext,img.block
{
	display: block;
}

.ose_ei
{
	visibility: hidden;
	z-index: 0;
}

.widget_invisible,.js .invi,.js .mse_pre_init,.js .an_invi /* used to hide the widget before loaded */
{
	visibility: hidden;
}

.no_vert_scroll
{
	overflow-y: hidden;
}

.always_vert_scroll
{
	overflow-y: scroll;
}

.always_horz_scroll
{
	overflow-x: scroll;
}

.popup_element.Inactive,.js .disn,.hidden
{
	display: none;
}

.fullscreen
{
	overflow: hidden;
	left: 0px;
	top: 0px;
	position: fixed;
	height: 100%;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.fullwidth
{
	position: absolute;
}

.borderbox
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.scroll_wrapper
{
	position: absolute;
	overflow: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.browser_width > *
{
	position: absolute;
	left: 0px;
	right: 0px;
}

.list0 li,.MenuBar .MenuItemContainer,.SlideShowContentPanel .fullscreen img
{
	position: relative;
}

.accordion_wrapper
{
	display: inline;
	float: left;
	width: 0px;
}

.fld-checkbox input[type=checkbox],.fld-radiobutton input[type=radio] /* Hide native checkbox */
{
	position: absolute;
	overflow: hidden;
	clip: rect(0px, 0px, 0px, 0px);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.fld-checkbox input[type=checkbox] + label,.fld-radiobutton input[type=radio] + label
{
	display: inline-block;
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
	width: 100%;
	height: 100%;
}

.pointer_cursor,.fld-recaptcha-mode,.fld-recaptcha-refresh,.fld-recaptcha-help
{
	cursor: pointer;
}

p,h1,h2,h3,h4,h5,h6,ol,ul,span.actAsPara /* disable Android font boosting */
{
	max-height: 1000000px;
}

.superscript
{
	vertical-align: super;
	font-size: 66%;
	line-height: 0;
}

.subscript
{
	vertical-align: sub;
	font-size: 66%;
	line-height: 0;
}

.wp-slideshow-clip,.SlideShowWidget /* disable pointer events on slide shows */
{
	-ms-touch-action: none;
	touch-action: none;
}

/*}}end-old-version*/
html {
	min-height: 100%;
	min-width: 100%;
	-ms-text-size-adjust: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
a {
	margin: 0;
	padding: 0;
	border-width: 0;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,
img {
	border: 0;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
}
caption,
th,
optgroup {
	font-style: inherit;
	font-weight: inherit;
}
del,
ins {
	text-decoration: none;
}
li {
	list-style: none;
}
caption,
th {
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: inherit;
}
input,
button,
textarea,
select,
optgroup,
option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: left;
	font-size: 14px;
	line-height: 17px;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: liga;
	-ms-font-feature-settings: liga;
	-webkit-font-feature-settings: liga;
	font-feature-settings: liga;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
	body {
		text-rendering: auto;
	}
	}

a:link {
	color: #0000ff;
	text-decoration: underline;
}
a:visited {
	color: #800080;
	text-decoration: underline;
}
a:hover {
	color: #0000ff;
	text-decoration: underline;
}
a:active {
	color: #EE0000;
	text-decoration: underline;
}
a.nontext {
	color: #000000;
	font-style: normal;
	font-weight: normal;text-decoration: none;
}
.normal_text {
	color: #000000;
	direction: ltr;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0px;
	line-height: 17px;
	text-align: left;
	text-indent: 0px;
	text-transform: none;
	vertical-align: 0px;
	padding: 0px;text-decoration: none;
}
.list0 li:before {
	position: absolute;
	right: 100%;
	letter-spacing: 0px;
	font-weight: normal;
	font-style: normal;text-decoration: none;
}
.rtl-list li:before {
	right: auto;
	left: 100%;
}
.nls-None > li:before,
.nls-None .list3 > li:before,
.nls-None .list6 > li:before {
	margin-right: 6px;
	content: â€¢;
}
.nls-None .list1 > li:before,
.nls-None .list4 > li:before,
.nls-None .list7 > li:before {
	margin-right: 6px;
	content: â—‹;
}
.nls-None,
.nls-None .list1,
.nls-None .list2,
.nls-None .list3,
.nls-None .list4,
.nls-None .list5,
.nls-None .list6,
.nls-None .list7,
.nls-None .list8 {
	padding-left: 34px;
}
.nls-None.rtl-list,
.nls-None .list1.rtl-list,
.nls-None .list2.rtl-list,
.nls-None .list3.rtl-list,
.nls-None .list4.rtl-list,
.nls-None .list5.rtl-list,
.nls-None .list6.rtl-list,
.nls-None .list7.rtl-list,
.nls-None .list8.rtl-list {
	padding-left: 0px;
	padding-right: 34px;
}
.nls-None .list2 > li:before,
.nls-None .list5 > li:before,
.nls-None .list8 > li:before {
	margin-right: 6px;
	content: -;
}
.nls-None.rtl-list > li:before,
.nls-None .list1.rtl-list > li:before,
.nls-None .list2.rtl-list > li:before,
.nls-None .list3.rtl-list > li:before,
.nls-None .list4.rtl-list > li:before,
.nls-None .list5.rtl-list > li:before,
.nls-None .list6.rtl-list > li:before,
.nls-None .list7.rtl-list > li:before,
.nls-None .list8.rtl-list > li:before {
	margin-right: 0px;
	margin-left: 6px;
}
.TabbedPanelsTab {
	white-space: nowrap;
}
.MenuBar .MenuBarView,
.MenuBar .SubMenuView {
	display: block;
	list-style: none;
}
.MenuBar .SubMenu {
	display: none;
	position: absolute;
}
.NoWrap {
	white-space: nowrap;
	word-wrap: normal;
}
.rootelem {
	margin-left: auto;
	margin-right: auto;
}
.colelem {
	display: inline;
	float: left;
	clear: both;
}
.colelem100 {
	clear: both;
}
.grpelem {
	display: inline;
	float: left;
}
.clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
*:first-child+html .clearfix {
	zoom: 1;
}
.clip_frame {
	overflow: hidden;
}
.inclusion_context {
	display: table;
	table-layout: fixed;
	width: 0.01px;
}
.inclelem {
	display: table-cell;
	vertical-align: top;
}
.f3s_mid {
	background-repeat: repeat;
}
.f3s_top,
.f3s_bot {
	background-repeat: no-repeat;
}
.f9s_top_left,
.f9s_bot_left {
	background-repeat: no-repeat;
	background-position: left;
}
.f9s_top_right,
.f9s_bot_right {
	background-repeat: no-repeat;
	background-position: right;
}
.f9s_top_mid,
.f9s_bot_mid {
	background-repeat: repeat-x;
	background-position: 0px 0px;
}
.f9s_mid_left {
	background-repeat: repeat-y;
	background-position: left;
}
.f9s_mid_right {
	background-repeat: repeat-y;
	background-position: right;
}
.f9s_center {
	background-repeat: repeat;
	background-position: 0px 0px;
}
.popup_anchor {
	position: relative;
	width: 0px;
	height: 0px;
}
.popup_element {
	z-index: 100000;
}
.svg {
	display: block;
	vertical-align: top;
}
span.wrap {
	content: ;
	clear: left;
	display: block;
}
span.actAsInlineDiv {
	display: inline-block;
}
.position_content,
.excludeFromNormalFlow {
	float: left;
}
.preload_images {
	position: absolute;
	overflow: hidden;
	left: -9999px;
	top: -9999px;
	height: 1px;
	width: 1px;
}
preload {
	height: 1px;
	width: 1px;
}
.animateStates {
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
input:focus,
textarea:focus {
	outline: none;
}
textarea {
	resize: none;
	overflow: auto;
}
.fld-prompt {
	pointer-events: none;
}
.wrapped-input {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	border: none;
}
.submit-btn {
	z-index: 50000;
	cursor: pointer;
}
.anchor_item {
	width: 22px;
	height: 18px;
}
.MenuBar .SubMenuVisible,
.MenuBarVertical .SubMenuVisible,
.MenuBar .SubMenu .SubMenuVisible,
.popup_element.Active,
span.actAsPara,
.actAsDiv,
a.nonblock.nontext,
img.block {
	display: block;
}
.ose_ei {
	visibility: hidden;
	z-index: 0;
}
.widget_invisible,
.js .invi,
.js .mse_pre_init,
.js .an_invi {
	visibility: hidden;
}
.no_vert_scroll {
	overflow-y: hidden;
}
.always_vert_scroll {
	overflow-y: scroll;
}
.always_horz_scroll {
	overflow-x: scroll;
}
.popup_element.Inactive,
.js .disn,
.hidden {
	display: none;
}
.fullscreen {
	overflow: hidden;
	left: 0px;
	top: 0px;
	position: fixed;
	height: 100%;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.fullwidth {
	position: absolute;
}
.borderbox {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.scroll_wrapper {
	position: absolute;
	overflow: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.browser_width > * {
	position: absolute;
	left: 0px;
	right: 0px;
}
.list0 li,
.MenuBar .MenuItemContainer,
.SlideShowContentPanel .fullscreen img {
	position: relative;
}
.accordion_wrapper {
	display: inline;
	float: left;
	width: 0px;
}
.fld-checkbox input[type=checkbox],
.fld-radiobutton input[type=radio] {
	position: absolute;
	overflow: hidden;
	clip: rect(0px, 0px, 0px, 0px);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
.fld-checkbox input[type=checkbox] + label,
.fld-radiobutton input[type=radio] + label {
	display: inline-block;
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
	width: 100%;
	height: 100%;
}
.pointer_cursor,
.fld-recaptcha-mode,
.fld-recaptcha-refresh,
.fld-recaptcha-help {
	cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
span.actAsPara {
	max-height: 1000000px;
}
.superscript {
	vertical-align: super;
	font-size: 66%;
	line-height: 0;
}
.subscript {
	vertical-align: sub;
	font-size: 66%;
	line-height: 0;
}
.wp-slideshow-clip,
.SlideShowWidget {
	-ms-touch-action: none;
	touch-action: none;
}
P.Preformatted {
	line-height: normal;
	margin-bottom: 14pt;
	margin-top: 14pt;
	x-text-tab-stops: repeat 1in;
	white-space: nowrap;
	font-size: smaller;
	font-family: monospace;
	transform-origin: left top;
	-o-transform-origin: left top;
	-ms-transform-origin: left top;
	-webkit-transform-origin: left top;
	border-width: 0;
	padding: 0;
	margin: 0;
}
SPAN.Code {
	font-family: monospace;
	font-weight: inherit;
	font-style: inherit;
	transform-origin: left top;
	-o-transform-origin: left top;
	-ms-transform-origin: left top;
	-webkit-transform-origin: left top;
	border-width: 0;
	padding: 0;
	margin: 0;
}
P.Address {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: inherit;
	font-style: inherit;
}
SPAN.Citation {
	font-weight: inherit;
	font-style: inherit;
}
SPAN.Definition {
	font-weight: inherit;
	font-style: inherit;
}
SPAN.Emphasize {
	font-weight: inherit;
	font-style: inherit;
}
SPAN.Strong {
	font-weight: inherit;
	font-style: inherit;
}
SPAN.Var {
	font-weight: inherit;
	font-style: inherit;
}
